<!DOCTYPE html>
<html ng-app="app">
<!--Linked to the angular module-->
<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="HomeController">
        <!--HomeController-->
        <input class="form-control" placeholder="Enter Name Here..." ng-model="inputName" />
        <input class="form-control" placeholder="Enter Age Here..." ng-model="inputAge"/>
        <button class="btn btn-default" ng-click="addContact()">Submit</button>
    <br />
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Buttons</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in contacts track by $index">
                <td>{{c.name}}</td>
                <td>{{c.age}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="editContact($index)">Edit</button>
                    <button class="btn btn-danger" ng-click="deleteContact($index)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    </div><!--End of HomeController-->
    <script src="Scripts/angular.min.js"></script>
    <script src="script.js"></script>
</body>
</html>